<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

	<form class="thing-form">
		<label>Interactive Querying</label>

		<div class="panel panel-default" ng-repeat="result in queryResults">
			<div class="panel-body">
				<p>QUERY: {{result.query}}</p>
				<div class="panel" ng-repeat="e in result.elements">
					<table style="width:100%">
					<tr ng-repeat="(key, value) in e">
  						<td> {{key}} </td> <td> {{ value }} </td>
					</tr>
				</table>	
				</div>
			</div>
		</div>

		<p class="input-group">
			<input type="text" class="form-control" placeholder="Enter a query." ng-model="queryString">
			<span class="input-group-btn">
				<button type="submit" class="btn btn-primary" ng-click="query()">Query</button>
			</span>
		</p>
	</form>
</div>